{{#each model as |posting|}}
  <li>
    <h4>{{posting.title}}</h4>
    <small>{{posting.pay}}</small> 
    <p>{{posting.description}}</p>
    <small>{{posting.interested.length}} dinos are interested in this job</small>
  </li>
{{/each}}
{{outlet}}
